
<div class="section section">
	<div class="layout">
		<h2 class="title__main" role="heading" aria-level="2">Где пройдет <mark>автограф-сессия </mark></h2>
		<div class="centrify">
			<div class="centrify__content">
				<h4 class="title__d" aria-level="4" role="heading">15 июня в 17:00, Москва</h4>
				<p class="desc__r">"МДК-Арбат" м.Арбатская, ул. Новый Арбат, д. 8 (Литературное кафе кафе второй этаж)</p>
			</div>

			<div class="map" >
				<div class="map__content" id="map1"></div>
			</div>
		</div>

		<div class="centrify">
			<div class="centrify__content">
				<h4 class="title__d" aria-level="4" role="heading">18 июня в 10:00, Москва</h4>
				<p class="desc__r">ЦВК "Экспоцентр" в рамках выставки International Commodity Fair 2019</p>
			</div>

			<div class="map" >
				<div class="map__content" id="map2"></div>
			</div>
		</div>
	</div>
</div>