
<div class="section section-gray hero">
	<div class="layout">
		<div class="justified">
			<div class="justified__item w-60">
				<div class="hero__content">
					<div class="hero__location">
						<h4 class="title__h " role="heading" aria-level="4">
							<i class="icon-loc"></i>
							МОСКВА
						</h4>
						<div class="hero__dates">
							<p> 15 июня в 17:00 / 18 июня в 10:00</p>
						</div>
					</div>
					<div class="hero__skew">
						<div class="hero__unskew">
							<h1 class="title__hero" role="heading" aria-level="1">
								<mark>Автограф-сессия</mark><br>
								<mark style='padding-left: .5em'>Димы Ковпака </mark>
								<br>
								<span style='padding-left: 1em'>В москве</span>
							</h1>
						</div>
					</div>
					<div class="hero__btn to-center">
						<button class="btn">Узнать больше</button>
					</div>
				</div>
			</div>
			<div class="justified__item">
				<!-- <div class="hero__pic">
					<picture>
            <source srcset="static/img/content/hero.webp "
                    type="image/webp">
            <img src="static/img/content/hero.png"
                 alt="Dima Kovpak">
          </picture>
				</div> -->
			</div>
			<a href="#" class="scroll-down js-down">
				<span class="scroll-down__wrap">
					<span class="desc__r">Листай вниз</span>
				</span>
			</a>
		</div>
	</div>

	<div class="hero__pic">
		<picture>
      <source srcset="static/img/content/hero.webp "
              type="image/webp">
      <img src="static/img/content/hero.png"
           alt="Dima Kovpak">
    </picture>
	</div>
</div>