
<div class="section section-gray hero">
	<div class="layout">
		<div class="justified">
			<div class="justified__item w-60">
				<div class="hero__content">
					<div class="hero__location">
						<h4 class="title__h " role="heading" aria-level="4">
							<svg class='icon-loc' enable-background="new 0 0 54.757 54.757" viewBox="0 0 54.757 54.757" xmlns="http://www.w3.org/2000/svg"><path d="m27.557 12c-3.859 0-7 3.141-7 7s3.141 7 7 7 7-3.141 7-7-3.141-7-7-7zm0 12c-2.757 0-5-2.243-5-5s2.243-5 5-5 5 2.243 5 5-2.243 5-5 5z"/><path d="m40.94 5.617c-3.622-3.622-8.438-5.617-13.56-5.617-5.123 0-9.938 1.995-13.56 5.617-6.703 6.702-7.536 19.312-1.804 26.952l15.364 22.188 15.341-22.157c5.755-7.671 4.922-20.281-1.781-26.983zm.159 25.814-13.719 19.812-13.741-19.843c-5.199-6.932-4.454-18.32 1.596-24.369 3.244-3.244 7.557-5.031 12.145-5.031s8.901 1.787 12.146 5.031c6.05 6.049 6.795 17.437 1.573 24.4z"/></svg>
							МОСКВА
						</h4>
						<div class="hero__dates">
							<p> 15 июня в 17:00 / 18 июня в 10:00</p>
						</div>
					</div>
					<div class="hero__skew">
						<div class="hero__unskew">
							<h1 class="title__hero" role="heading" aria-level="1">
								<mark>Автограф-сессия</mark><br>
								<mark style='padding-left: .5em'>Димы Ковпака </mark>
								<br>
								<span style='padding-left: 1em'>В москве</span>
							</h1>
						</div>
					</div>
					<div class="hero__btn to-center">
						<button class="btn js-ppp" data-ppp="getbook">Узнать больше</button>
					</div>
				</div>
			</div>
			<div class="justified__item">
			</div>
			<a href="#" class="scroll-down js-down">
				<span class="scroll-down__wrap">
					<span class="desc__r">Листай вниз</span>
				</span>
			</a>
		</div>
	</div>

	<div class="hero__pic">
		<picture>
      <source srcset="static/img/content/hero.webp "
              type="image/webp">
      <img src="static/img/content/hero.png"
           alt="Dima Kovpak">
    </picture>
	</div>
</div>