<div class="section section">
	<div class="layout">
		<h2 class="title__main" role="heading" aria-level="2">О книге «Бизнес с Китаем. Как находить, привозить  и продавать товары  <mark>с наценкой 300%</mark>»</h2>
		<div class="justified mod-mb-40">
			<div class="justified__item">
				<div class="">
					<h3 class="title__l" role="heading" aria-level="3">Всего на 288 страницах ты узнаешь как:</h3>
					<ul class="dots-list">
						<li>сделать свои первые шаги при построении бизнеса с Китаем</li>
						<li>запустить первые продажи</li>
						<li>найти поставщиков</li>
						<li>заработать первый миллион на бизнесе с Китаем</li>
					</ul>
					<h3 class="title__l" role="heading" aria-level="3">Этот опыт доступен каждому:</h3>
					<p class="desc__r"><mark>Новичкам.</mark> Тем, кто хочет запустить свой бизнес с Китаем и сразу все делать правильно. Не тратя деньги и время на неэффективные решения</p>
					<p class="desc__r"><mark>Предпринимателям.</mark> Тем, кто ищет новое направление для инвестиций с высокой маржинальностью и минимальными рисками.</p>
					<p class="desc__r"><mark>Сотрудникам,</mark> которые ищут новые источники дохода и хотят запустить свой бизнес <br/>Всем, кто хочет строить бизнес удаленно и много зарабатывать в $, без привязки к экономической ситуации.</p>
					<p class="desc__r"><i>Автор прошел весь путь сам. И теперь он точно знает, что работает, а от чего стоит отказаться.Согласитесь, безопаснее взять работающие инструменты и сразу получать прибыль, чем тестировать разные подходы, терять время и деньги.</i> </p>
				</div>
			</div>
			<div class="justified__item">
				<div class="pictu">
					<div class="pictu__el pictu__el_1"></div>
					<div class="puctu__picture">
						<picture>
              <source srcset="static/img/content/autor.webp "
                                    type="image/webp">
							<img src="static/img/content/autor.jpg" alt="autor" class="pictu__img">
						</picture>
					</div>
					<div class="pictu__el pictu__el_2"></div>
				</div>
			</div>
		</div>
		<div class="to-center">
			<a href='#'  class="btn js-ppp" data-ppp="getbook">Скачать 5 глав книги</a>
		</div>
	</div>
</div>
